/* g_03_rwd.css */

/* 
  1280px 브라우저 크기 기준
  브라우저가 1280보다 큰 사이즈 이면 (이상) - 배경색: #ddd
  브라우저가 1280보다 미만 사이즈 이면  - 배경색: #faa
*/

#wrap {
  width: 100%; height: 100vh;
  background-color: #acf;
}

/* (min-width:320px)  and (max-width:1279px)*/
@media screen and (max-width:1279px){
  /* 기준디바이스 크기 : 320px */
  #wrap {
    background-color: #faa;
  }
} /* (min-width:320px)  and (max-width:1279px)  */

/* (min-width:1280px) and (max-width:1439px) */
@media screen and (min-width:1280px) and (max-width:1439px) {
  /* 기준디바이스 크기 : 1280px */
  #wrap {
    background-color: #afa;
  }
} /* (min-width:1280px) and (max-width:1439px) */

/* (min-width:1440px) */
@media screen and (min-width:1440px) {
  /* 기준디바이스 크기 : 1440px */
  #wrap {
    background-color: #ddd;
  }
} /* (min-width:1440px) */

