/* main_page/b_smartphone.css */

@media screen and (max-width:599px) {
  /* 기준 디바이스 크기 : 320px  */
  body {background-color: #eee;}
  
/* #wrap { }
   ====================================================*/

/* #headBox 
   ==================================================== */
  #headBox { height: 3.125rem; padding:0.5rem 0.625rem; }
  #headBox > * {display: none;}

/* #slideBox 
    ==================================================== */
  #slideBox   { 
    min-height:31.25rem; 
    padding-top: 3.125rem;
  }

/* #newBox 
    ====================================================  */
  #newBox { 
    height:100vh; min-height:37.5rem; max-height:37.5rem;
    padding-top: 5rem; padding-bottom: 5.625rem;
  }
  .area_title {
    width: 100%; height:auto; 
    text-align: center; font-size:1.75rem; 
  }

  .newBox_area{ width:50.875rem; height:20rem; }
  .newBox_area li { width: 16.25rem; margin-left: 1.0625rem;  }


/* #subBox 
    ====================================================  */
  #subBox { height:100vh; min-height: 31.25rem; }

/* #bestBox 
    ====================================================  */
  #bestBox { 
    height:auto; min-height: 43.75rem;
    padding: 2.5rem; padding-bottom: 8.75rem; 
  }

/* #galleryBox 
    ====================================================  */
  #galleryBox {  
    height:auto; min-height: 61.25rem; 
    padding-top: 1.5rem; padding-bottom: 8.75rem;
  }

  #galleryBox .area_content {
    width: 100%;
  }

/* #sponsorBox 
    ====================================================  */
  #sponsorBox { 
    height: 25rem;
  }

/* #footBox 
    ====================================================  */
  #footBox { height: 26.5625rem; }
  #footBox > * {display: none;}

/* =========================================== */
} /* @media screen and (max-width:599px) */
