/* main_page/c_tablet.css */

@media screen and (min-width:600px) and (max-width:1023px) {
  /* 기준 디바이스 크기 : 600px  */
  body {background-color: #fee;}
/* #wrap { } */

/* #headBox 
  ============================================ */
  #headBox { height: 3.125rem; padding:0.5rem 1.0625rem; }
  #headBox > * {display: none;}

/* #slideBox 
  ============================================ */
  #slideBox   { 
  min-height:25rem; 
  padding-top: 3.125rem;
  }

/* #newBox 
  ============================================  */
  #newBox { 
  height:100vh; min-height:34.375rem; max-height:37.5rem;
  padding-top: 3.75rem; padding-bottom: 5.625rem;
  }

  .area_title {
    width: 100%; height:auto;  
    text-align: center; font-size:1.75rem; 
  }

  .newBox_area{ width:50.875rem; height:20rem; margin-top:3.25rem; }
  .newBox_area li { width: 16.25rem; margin-left: 1.0625rem; }


/* #subBox 
  ============================================  */
  #subBox { height:37.5rem; }

/* #bestBox 
  ============================================  */
  #bestBox { 
  height:100vh; min-height: 37.5rem; 
  padding: 3.75rem 3.125rem; padding-bottom: 5.9375rem;
  }

/* #galleryBox 
  ============================================  */
  #galleryBox {   
  height: 61.25rem;
  padding-top: 7.75rem; padding-bottom: 7.5rem;
  }

  #galleryBox .area_content {
    width: 100%;
  }

/* #sponsorBox 
  ============================================  */
  #sponsorBox { 
  height: 18.75rem;
  }

/* #footBox 
  ============================================  */
  #footBox    { height: 26.5625rem; }


}/* @media screen and (min-width:600px) and (max-width:1023px) */

