
/* common.css */
.clearfix:after,
.clearfix::after { content:""; display:block; width:100%; height:0; clear:both;}

.none {display: none;}

.max_width_01 { 
  width:95%; min-width:940px; max-width:1280px;  
  margin:auto;}
  
.blind { width:0; height:0; overflow:hidden; }

