@charset "UTF-8";
/* main.css */
/* reset.css __________________________________________ */
body {margin:0;}

/* design __________________________________________ */
#wrap {
  width:100%; min-width:1440px; 
  height:auto; min-height:500px;
  margin:auto;
}

/* #headBox __________________________________________ */
#headBox    { 
  width: 100%; height: auto; 
  padding:20px 50px 10px; box-sizing: border-box;
  background-color: #ccc; }
  
  .area_head {
    width: 100%; max-width:1440px; height: auto;
    margin:auto;
  }
  .area_head::after {
    content:" "; display:block; 
    width:100%; height:0; clear:both;
  } 
  
#logo { 
  float:left; width: 120px;height: 70px; 
  background-color: #777;}
#navBox { 
  float:right; width: 510px; height: 70px; 
  background-color: #777;}


/* #slideBox __________________________________________ */
#slideBox   { 
width: 100%; height: 600px; padding-top:100px; box-sizing: border-box;
background-color: #aaa; }
#adCon_01 { 
  width: 780px; height: 400px; 
  margin:auto; 
  background-color: #ddd;
  }
  
/* #newBox ____________________________________________  */
#newBox     { 
  width: 100%; height:700px; 
  padding-top:62px; box-sizing: border-box;
  background-color: #eee; }
  
.area_title{
  width:940px; height:70px; 
  margin:auto;
  background-color:#aaa;
}
.area_content{
  width:940px; height:370px; 
  /* margin:auto; margin-top:48px; margin-bottom: 50px; */
  margin:48px auto 50px;
  background-color:#aaa;
}
.area_indicator{
  width:140px; height:30px; 
  margin:auto;
  background-color:#ccc;
}

/* #subBox ____________________________________________  */
#subBox     { 
  width: 100%; height: 350px; 
  padding-top:50px; box-sizing: border-box;
  background-color: #aaa; }
#subBox > .area {
  width: 1100px; height: 300px;
  margin:auto;
  background-color: #ddd;
  }

/* #bestBox ____________________________________________  */
#bestBox { 
  width: 100%; height: 700px; 
  padding-top:175px; box-sizing: border-box;
  background-color: #eee; }
#bestBox > .area {
  width: 1100px; height: 380px; 
  margin:auto;
  background-color: #aaa;
}

/* #galleryBox ____________________________________________  */
#galleryBox { 
  width: 100%; height: 750px; 
  padding-top: 75px; box-sizing: border-box;
  background-color: #ccc; }
  
#galleryBox .area_title { background-color: #fff;}
#galleryBox .area_content { 
  height:420px; background-color: #777;}


/* #sponsorBox ____________________________________________  */
#sponsorBox { 
  width: 100%; height: 100px; 
  padding:10px 0; box-sizing: border-box;
  background-color: #999; }
.sponsor_area {
  width: 940px; height: 80px; 
  margin:auto; 
  background-color: #fff;}

/* #footBox ____________________________________________  */
#footBox    { 
  width: 100%; height: 450px; 
  padding-top: 68px; box-sizing: border-box;
  background-color: #777; }

.area_foot {
  width: 940px; height: auto;
  margin:auto;  
}
  
  .info_logo{
    width:120px; height:70px; 
    margin-bottom:45px;
    background-color: #aaa;
    }
  .info_company{
    width: 940px; height: 135px;
    background-color: #aaa;
  }

